#header1{
    background-color: salmon;
    color: darkgreen;
    text-align: center;
    padding: 6% 6% 6% 6%;
}

#header2{
    background-color: pink;
    color: darkgreen;
    text-align: center;
    padding: 6% 6% 6% 6%;
    
}
.paras{
    background-color:forestgreen;
    color: firebrick;
    padding: 4% 4% 4% 4%;
    margin: -2% 0% -2% 0%;
}